*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 150px;
}

@media (max-width: 1100px) {
  .container {
    padding: 0 75px;
  }
}

@media (max-width: 425px) {
  .container {
    padding: 0 30px;
  }
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding: 15px 32px;
  border: 2px solid #fff;
  cursor: pointer;
}

.btn-intro {
  -webkit-transition: background linear .3s, border-color linear .3s;
  transition: background linear .3s, border-color linear .3s;
}

.btn-intro:hover {
  background: #ff8b38;
  border-color: #ff8b38;
}

.btn-tab {
  background: #ff8b38;
  border-radius: 5px;
}

.btn-contact {
  background: #ff8b38;
  border-radius: 5px;
}

.section-grey {
  background-color: #f5f5f5;
}

.burger {
  display: none;
  border: none;
  background-color: #000;
  cursor: pointer;
  padding: 9px 2px;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  font-size: 0;
  color: transparent;
  position: relative;
}

.burger__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #fff;
  bottom: -8px;
}

.burger__item::before {
  content: "";
  width: 75%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #fff;
  top: -8px;
}

@media (max-width: 950px) {
  .burger {
    display: block;
  }
}

.header {
  background-color: #000;
  height: 70px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.header.fixed {
  position: fixed;
}

.header__inner {
  padding-top: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__inner img {
  width: 79px;
  height: 27px;
}

.header__menu {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu a {
  text-decoration: none;
  opacity: 0.69;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  -webkit-transition: opacity linear .3s;
  transition: opacity linear .3s;
}

.header__menu a:hover {
  opacity: 1;
}

@media (max-width: 950px) {
  .header__menu a {
    padding: 5px 0;
  }
}

@media (max-width: 950px) {
  .header__menu {
    display: none;
    position: absolute;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    right: 0;
    background: #000;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.intro {
  background: url(../img/bg-intro.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  min-height: 710px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1920px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__text {
  width: 50%;
}

.intro__text img {
  width: 175px;
  height: 60px;
  margin-bottom: 33px;
}

@media (max-width: 768px) {
  .intro__text img {
    width: 125px;
    margin-bottom: 10px;
  }
}

.intro__text-title {
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  text-transform: uppercase;
}

.intro__text-title:after {
  content: "";
  width: 64px;
  display: block;
  border-bottom: 2px solid #fff;
  padding-top: 36px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .intro__text-title:after {
    padding-top: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 425px) {
  .intro__text-title {
    font-size: 25px;
  }
}

.intro__text-subtxt {
  width: 90%;
  opacity: .7;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  margin-bottom: 59px;
}

@media (max-width: 768px) {
  .intro__text-subtxt {
    width: 100%;
  }
}

@media (max-width: 950px) {
  .intro__text {
    width: 65%;
  }
}

@media (max-width: 768px) {
  .intro__text {
    width: 100%;
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  .intro {
    min-height: 875px;
  }
}

@media (max-width: 425px) {
  .intro {
    min-height: 695px;
  }
}

.form__login {
  width: 32%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.form__login-title {
  padding: 15px 50px;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  background-color: #f5f5f5;
  margin-bottom: 26px;
}

.form__login-title span {
  color: #ff8b38;
}

.form__login input {
  margin: 0 35px;
  border: none;
  margin-bottom: 36px;
  border-bottom: 1px solid #d6d6d6;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
          box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
  padding-bottom: 10px;
  outline: none;
}

.form__login input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 14px;
}

.form__login input:-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 14px;
}

.form__login input::-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 14px;
}

.form__login input::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding-left: 14px;
}

.form__login button {
  background: #ff8b38;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px;
}

@media (max-width: 768px) {
  .form__login {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .form__login {
    display: none;
  }
}

.social {
  padding: 20px 0;
  margin-bottom: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
}

.social__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__inner-text {
  width: 30%;
}

@media (max-width: 768px) {
  .social__inner-text {
    width: 100%;
  }
}

.social__inner-title {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.social__inner-subtxt {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.social__inner-icons {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social__inner-icons a {
  text-decoration: none;
  font-size: 48px;
  color: #ccc;
  -webkit-transition: color linear .3s;
  transition: color linear .3s;
}

.social__inner-icons a:hover {
  color: #ff8b38;
}

@media (max-width: 425px) {
  .social__inner-icons a {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .social__inner-icons {
    width: 100%;
    margin-top: 20px;
  }
}

.features {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10%;
}

.features__tabs button {
  background: #333333;
  border: 0;
  outline: none;
  padding: 50px 35px;
  margin-bottom: 1px;
  cursor: pointer;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.features__tabs button.active {
  background: #ff8b38;
}

@media (max-width: 1100px) {
  .features__tabs button {
    padding: 25px;
  }
}

@media (max-width: 768px) {
  .features__tabs button {
    width: 25%;
    margin-right: 1px;
  }
}

@media (max-width: 500px) {
  .features__tabs button {
    width: 35%;
  }
}

.features__tabs-content {
  width: 80%;
}

@media (max-width: 500px) {
  .features__tabs-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .features__tabs {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 768px) {
  .features {
    padding: 60px 0;
  }
}

.tab__item {
  display: none;
}

.tab__item.active-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tab__item-inner {
  width: 50%;
}

@media (max-width: 950px) {
  .tab__item-inner {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .tab__item-inner {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 950px) {
  .tab__item img {
    width: 200px;
  }
}

@media (max-width: 768px) {
  .tab__item img {
    display: none;
  }
}

.tab__item-title {
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 53px;
  width: 100%;
}

.tab__item-text {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  margin-bottom: 67px;
}

.tab__item-text p:first-child {
  margin-bottom: 25px;
}

@media (max-width: 768px) {
  .tab__item {
    width: 100%;
  }
}

.feature__second {
  padding: 100px 0;
}

.feature__second-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feature__second-inner img {
  width: 50%;
  height: 100%;
  display: block;
}

@media (max-width: 950px) {
  .feature__second-inner img {
    width: 100%;
  }
}

.feature__second-content {
  width: 40%;
}

@media (max-width: 950px) {
  .feature__second-content {
    width: 100%;
  }
}

.feature__second-title {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 43px;
}

.feature__second-title::after {
  content: "";
  border-bottom: 2px solid #ff8b38;
  width: 64px;
  display: block;
  padding-top: 29px;
  margin-bottom: 30px;
}

.feature__second-sub-title-txt {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.feature__second-item {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.feature__second-item-icon {
  border: 2px solid #ff8b38;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 30px;
}

.feature__second-item-icon a {
  font-size: 18px;
  color: #ff8b38;
}

.feature__second-item-title {
  color: #212121;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 17px;
  margin-bottom: 12px;
}

.feature__second-item-text {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .feature__second {
    padding: 40px 0;
  }
}

.feature__third-inner {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.feature__third-sub-title-txt p:first-child {
  margin-bottom: 20px;
}

.section__header {
  margin: 80px 0;
  text-align: center;
}

.section__header-title {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  line-height: 43px;
  text-transform: uppercase;
}

.section__header-title:after {
  content: "";
  border-bottom: 2px solid #ff8b38;
  width: 64px;
  display: block;
  padding-top: 29px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .section__header-title:after {
    padding-top: 20px;
  }
}

@media (max-width: 425px) {
  .section__header-title {
    font-size: 30px;
  }
}

.section__header-text {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin-top: 30px;
  line-height: 20px;
}

@media (max-width: 425px) {
  .section__header-text {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .section__header {
    margin: 40px 0;
  }
}

.process {
  padding-bottom: 100px;
}

.process__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.process__item {
  width: 30%;
  text-align: center;
}

.process__item-img i {
  font-size: 28px;
  border-radius: 50%;
  border: 2px solid #ff8b38;
  padding: 21px 25px;
  color: #ff8b38;
}

.process__item-img i.fa-keyboard {
  padding: 21px;
}

@media (max-width: 768px) {
  .process__item-img i {
    margin-top: 20px;
  }
}

.process__item-title {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 30px 0;
}

.process__item-text {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 768px) {
  .process__item {
    width: 100%;
  }
}

.pricing {
  padding: 100px 0;
}

.pricing .section__header {
  margin-top: 0;
}

.pricing__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pricing__inner a {
  text-decoration: none;
}

.pricing__inner-card {
  width: 32%;
}

.pricing__inner-card-content {
  text-align: center;
  background: #333333;
}

.pricing__inner-card-title {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-bottom: 1px solid #fff;
  padding: 20px;
}

.pricing__inner-card-price {
  color: #ffffff;
  font-family: Raleway;
  font-size: 94px;
  font-weight: 700;
  line-height: 24px;
  padding-top: 10px;
  margin: 28px 0;
}

.pricing__inner-card-price span {
  font-size: 35px;
}

.pricing__inner-card-sub-price {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 18px;
}

.pricing__inner-card-hide-text {
  height: 5px;
  background: #ff8b38;
  overflow: hidden;
  font-size: 0;
}

.pricing__inner-card-hide-text:hover {
  height: 40px;
  padding: 14px 0;
  font-size: 14px;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.pricing__inner-card-undercard {
  text-align: center;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #fff;
  line-height: 24px;
  text-transform: uppercase;
  padding: 14px 0;
  border-bottom: 1px solid #f5f5f5;
}

@media (max-width: 768px) {
  .pricing__inner-card {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .pricing__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .pricing {
    padding: 40px 0;
  }
}

.reviews {
  padding-bottom: 100px;
}

.reviews__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__item {
  width: 32%;
}

.reviews__item-text {
  width: 65%;
  background-color: #f5f5f5;
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  padding: 24px 12px;
  margin-bottom: 25px;
  position: relative;
}

.reviews__item-text:before {
  content: "";
  position: absolute;
  bottom: -22%;
  left: 10%;
  border: 10px solid transparent;
  border-top: 20px solid #f5f5f5;
}

@media (max-width: 320px) {
  .reviews__item-text:before {
    bottom: -20%;
  }
}

@media (max-width: 1100px) {
  .reviews__item-text {
    width: 90%;
  }
}

.reviews__item-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__item-author-about {
  margin-left: 15px;
}

.reviews__item-author-name {
  color: #333333;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.reviews__item-author-prof {
  color: #86878b;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

@media (max-width: 768px) {
  .reviews__item-author {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .reviews__item {
    width: 100%;
  }
}

.custom {
  background: url(../img/custom-section.jpg) center no-repeat;
  background-size: cover;
  min-height: 320px;
  width: 100%;
  max-width: 1920px;
}

.custom .section__header {
  margin: 0;
  padding: 80px 0;
}

.custom .section__header-title {
  color: #ffffff;
}

.custom .section__header-title:after {
  content: "";
  border-bottom: 2px solid #fff;
  width: 64px;
  display: block;
  padding-top: 29px;
  margin: 0 auto;
}

@media (max-width: 425px) {
  .custom .section__header-title {
    font-size: 27px;
  }
}

.custom .section__header-text {
  opacity: .6;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 50px;
}

@media (max-width: 425px) {
  .custom .section__header {
    padding: 40px 0;
  }
}

.contact {
  padding-bottom: 80px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact__txt-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.contact__txt-input input {
  outline: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
          box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
  margin-bottom: 30px;
  padding: 10px 14px;
}

.contact__txt-input input:last-child {
  margin-bottom: 0;
}

.contact__txt-input input::-webkit-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.contact__txt-input input:-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.contact__txt-input input::-ms-input-placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.contact__txt-input input::placeholder {
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

@media (max-width: 425px) {
  .contact__txt-input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.contact textarea {
  width: 40%;
  border: 0;
  color: #bdbdbd;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 10px 14px;
  border-bottom: 1px solid #f5f5f5;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
          box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
  resize: none;
  outline: none;
}

@media (max-width: 425px) {
  .contact textarea {
    width: 100%;
  }
}

.contact .btn-center {
  text-align: center;
}

.footer {
  background-color: #000;
  height: 85px;
}

.footer__inner {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.footer__social a {
  text-decoration: none;
  color: #cccccc;
  font-size: 24px;
  -webkit-transition: color linear .2s;
  transition: color linear .2s;
}

.footer__social a:hover {
  color: #ff9b51;
}

@media (max-width: 768px) {
  .footer__social {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .footer__social {
    width: 100%;
  }
}

.footer__text {
  opacity: 0.5;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  margin-top: 15px;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */